<!DOCTYPE html>
<html>
  <head>
    <title>Quizes</title>
    <style type="text/css">

      ul>li{display: inline;}




    </style>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <ul>
      <li><a href='/'> inicio</a></li>
      <li><a href='/quizes/question'>Jugar</a></li>
      <li>creditos</li>
      <li>login</li>
    </ul>
  </nav>
  <body>
    <%- body %>

  </body>
</html>
