<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>quiz el juego de las preguntas</h1>


    <form method="post" action="/quizes/answer?q=<%= pregunta.replace(' ','_')  %>">
    	    <p><%= pregunta %></p>
    	    <input type="text" name="respuesta" placeholder="Responder aquí"/>
    	    <input type="submit" value="enviar">
    </form>
  </body>
</html>